data_new/*
*.jpg
*.eps
*.png
*.pdf
*.sh
*.txt
*.csv
.vscode
__pycache__
result
saved_models
TCGA_pre
confusion_matrix.py
generate_risk.py
generate_vaerisk.py
pearson_coor_show.py
train_attention_class.py
train_classbasline.py
train_cnn_class.py
train_cox_attention.py
train_cox_moe.py
train_cox_wioutp.py
train_coxnnet.py
train_CPEM.py
train_dnn_class.py
train_moe_class.py
train_raw_attention_class.py
train_svm.py
train_vaecox.py
train_vanila.py
trainVAE.py
tsneshow.py

